* text=auto eol=lf

# Binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.icns binary
*.wav binary
*.mp3 binary
*.woff binary
*.woff2 binary
*.ttf binary
*.zip binary
*.tar.gz binary
*.dmg binary
